imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

framework:
    #esi:             ~
    translator:      { fallback: "%locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        packages:
            assets_base_urls: []
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form:
        resources: ['bootstrap_3_layout.html.twig']

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles: ['FOSUserBundle', 'WizardryUserBundle']
    #java: /usr/bin/java
    filters:
        scss:
            style: 'compressed'
            compass: true
            apply_to: "\.scss$"
        cssrewrite: ~
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

    assets:
        bootstrap_css:
            inputs:
                 - %kernel.root_dir%/../vendor/twitter/bootstrap/dist/css/bootstrap.css
                 - %kernel.root_dir%/../vendor/twitter/bootstrap/dist/css/bootstrap-theme.css
        bootstrap_js:
            inputs:
                 - %kernel.root_dir%/../vendor/twitter/bootstrap/dist/js/bootstrap.js
        jquery:
            inputs:
                 - %kernel.root_dir%/../vendor/components/jquery/jquery.js
        glyphicons_halflings_regular_eot:
            inputs:
                 - %kernel.root_dir%/../vendor/twitter/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
            output: "fonts/glyphicons-halflings-regular.eot"
        glyphicons_halflings_regular_svg:
            inputs:
                 - %kernel.root_dir%/../vendor/twitter/bootstrap/dist/fonts/glyphicons-halflings-regular.svg
            output: "fonts/glyphicons-halflings-regular.svg"
        glyphicons_halflings_regular_ttf:
            inputs:
                 - %kernel.root_dir%/../vendor/twitter/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
            output: "fonts/glyphicons-halflings-regular.ttf"
        glyphicons_halflings_regular_woff:
            inputs:
                 - %kernel.root_dir%/../vendor/twitter/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
            output: "fonts/glyphicons-halflings-regular.woff"
        bootstrap_theme_map:
            inputs:
                 - %kernel.root_dir%/../vendor/twitter/bootstrap/dist/css/bootstrap-theme.css.map
            output: "css/bootstrap-theme.css.map"

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

doctrine_mongodb:
    connections:
        default:
            server: mongodb://localhost:27017
            options: {}
    default_database: wizardry
    document_managers:
        default:
            mappings:
                    WizardryUserBundle: ~
                    SonataUserBundle: ~
                    FOSUserBundle: ~
            auto_mapping: true

fos_rest:
    view:
        templating_formats:
            html: true
        view_response_listener: 'force'
        formats:
            json: true
        failed_validation: HTTP_BAD_REQUEST

    routing_loader:
         default_format: json
    exception:
            codes:
                'Symfony\Component\Routing\Exception\ResourceNotFoundException': 404

sonata_user:
    manager_type: mongodb
    class:
        user: Wizardry\UserBundle\Document\User
        group: Wizardry\UserBundle\Document\Group

sonata_block:
    default_contexts: [cms]
    blocks:
        sonata.admin.block.admin_list:
            contexts:   [admin]
        sonata.user.block.menu:    # used to display the menu in profile pages
        sonata.user.block.account: # used to display menu option (login option)
        sonata.block.service.text: # used to if you plan to use Sonata user routes

nelmio_api_doc: ~

nelmio_cors:
    paths:
        '^/api/':
            allow_origin: ['*']
            allow_headers: ['*']
            allow_methods: ['POST', 'PUT', 'GET', 'DELETE']
            max_age: 3600
            allow_credentials: false

fos_user:
    db_driver: mongodb
    firewall_name: main
    user_class: Wizardry\UserBundle\Document\User
    registration:
        form:
            type: wizardry_user_registration
    group:
        group_class:   Wizardry\UserBundle\Document\Group
        group_manager: sonata.user.mongodb.group_manager

    service:
        user_manager: sonata.user.mongodb.user_manager

doctrine:
    dbal:
        types:
            json: Sonata\Doctrine\Types\JsonType

