wizardry_parse:
    resource: "@WizardryParseBundle/Resources/config/routing.yml"
    prefix:   /

_wizardry:
    resource: "@WizardryMainBundle/Resources/config/routing.yml"
    prefix:   /

_wizardry_api:
    resource : "@WizardryApiBundle/Resources/config/routing.yml"
    prefix: /api

_wizardry_user:
    resource: "@WizardryUserBundle/Resources/config/routing.yml"
    prefix:   /

NelmioApiDocBundle:
    resource: "@NelmioApiDocBundle/Resources/config/routing.yml"
    prefix:   /api/doc

sonata_user_security:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_security_1.xml"

sonata_user_resetting:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_resetting_1.xml"
    prefix: /resetting

sonata_user_profile:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_profile_1.xml"
    prefix: /profile

sonata_user_register:
    resource: "@SonataUserBundle/Resources/config/routing/sonata_registration_1.xml"
    prefix: /register
sonata_user:
    resource: '@SonataUserBundle/Resources/config/routing/admin_security.xml'
    prefix: /admin

_sonata_admin:
  resource: .
  type: sonata_admin
  prefix: /admin